* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main {
  flex-grow: 1;
  background-color: #f5f3f3;
  padding: 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-size: 100%;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 5rem;
  color: #ffffff;
  h1{
    text-align: center;
  }
}

footer{
  color: #ffffff;
  height:5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}